.header{
  background-color: rgb(253,240,234);
  margin: 10px;
}
.logo{
position: relative;
top: 30px;
width: 150px;
left: 50PX;

}
a{
text-decoration: none;
color: black;
}
button{
border-radius: 5px;
color: white;
border: none;
background-color: rgb(243,133,85);
padding: 10px;
}
nav ul li{
display: inline-block;
padding: 10px;
position: relative;
left: 300px;
bottom: 20px;
}

.introduction {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
 margin: 50px; 
 gap: 50px; 
}
body{
  font-family: 'Inter',sans-serif;
}
button{
  background-color:darkorange;
}

p1{
  font-size:80px;
  line-height: 70px;
  
}
.whyus{
position: relative;
left: 70PX;
}
.qualite{
  position: relative;
  bottom: 20px;
}
.feauture div{
  margin: 20px;
}
div{
display: inline-block;
}
footer{
background-color: rgb(253,240,234);
}
.footer{
  position: relative;
  left: 50px;
}

