.header{
  background-color: rgb(253,240,234);
  margin: 10px;
}
.logo{
position: relative;
top: 30px;
width: 150px;
left: 50PX;
}

a{
text-decoration: none;
color: black;

}
nav ul li{
  display: inline-block;
  padding: 10px;
  position: relative;
  left: 300px;
  bottom: 20px;
}
button{
border-radius: 5px;
color: white;
border: none;
background-color: rgb(243,133,85);
padding: 10px;
}







